@import "./icons";

@import "@material/elevation/mixins";

html {
  font-family: Roboto, sans-serif !important;
}

.card {
  background-color: white !important;
	border-radius: 4px !important;
	overflow: hidden !important;
  @include mdc-elevation(2);
}

.card-image, .card-placeholder-wrapper, .card-image-content-wrapper {
	border-top-left-radius: 4px !important;
	border-top-right-radius: 4px !important;
	overflow: hidden !important;
}

.card-info-title {
  color: rgba(0,0,0,0.87) !important;
}

.card-info-subtitle-links, .card-info-subtitle-metadata, .card-info-subtitle-description {
  color: rgba(0,0,0,0.54) !important;
}
