@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2"); }

[class*="-16"]::before {
  font-size: 18px !important; }

[class*="-24"]::before {
  font-size: 24px !important; }

[class*="-32"]::before {
  font-size: 36px !important; }

[class*="-48"]::before {
  font-size: 48px !important; }

[class*="-64"]::before {
  font-size: 64px !important; }

[class*="spoticon-add-to-playlist"]::before {
  font-family: 'Material Icons' !important;
  content: "playlist_add" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-add-to-queue"]::before {
  font-family: 'Material Icons' !important;
  content: "add_to_queue" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-addfollow"]::before {
  font-family: 'Material Icons' !important;
  content: "person_add" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-addfollowers"]::before {
  font-family: 'Material Icons' !important;
  content: "person_add" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-addsuggestedsong"]::before {
  font-family: 'Material Icons' !important;
  content: "add_circle_outline" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-airplay"]::before {
  font-family: 'Material Icons' !important;
  content: "airplay" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-album"]::before {
  font-family: 'Material Icons' !important;
  content: "album" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-album-contained"]::before {
  font-family: 'Material Icons' !important;
  content: "album" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-arrow-down"]::before {
  font-family: 'Material Icons' !important;
  content: "arrow_downward" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-arrow-left"]::before {
  font-family: 'Material Icons' !important;
  content: "arrow_back" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-arrow-right"]::before {
  font-family: 'Material Icons' !important;
  content: "arrow_forward" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-arrow-up"]::before {
  font-family: 'Material Icons' !important;
  content: "arrow_upward" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-artist"]::before {
  font-family: 'Spotify-Material-Icons' !important;
  content: "artist" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-artist-active"]::before {
  font-family: 'Spotify-Material-Icons' !important;
  content: "artist" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-attach"]::before {
  font-family: 'Material Icons' !important;
  content: "attach_file" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-available-offline"]::before {
  font-family: 'Material Icons' !important;
  content: "offline_pin" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-ban"]::before {
  font-family: 'Material Icons' !important;
  content: "gavel" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-ban-active"]::before {
  font-family: 'Material Icons' !important;
  content: "gavel" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-block"]::before {
  font-family: 'Material Icons' !important;
  content: "block" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-bluetooth"]::before {
  font-family: 'Material Icons' !important;
  content: "bluetooth" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-browse"]::before {
  font-family: 'Material Icons' !important;
  content: "subscriptions" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-browse-active"]::before {
  font-family: 'Material Icons' !important;
  content: "subscriptions" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-camera"]::before {
  font-family: 'Material Icons' !important;
  content: "photo_camera" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-carplay"]::before {
  font-family: 'Material Icons' !important;
  content: "directions_car" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-chart-down"]::before {
  font-family: 'Material Icons' !important;
  content: "keyboard_arrow_down" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-chart-left"]::before {
  font-family: 'Material Icons' !important;
  content: "keyboard_arrow_left" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-chart-right"]::before {
  font-family: 'Material Icons' !important;
  content: "keyboard_arrow_right" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-chart-down"]::before {
  font-family: 'Material Icons' !important;
  content: "arrow_drop_down" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-chart-up"]::before {
  font-family: 'Material Icons' !important;
  content: "arrow_drop_up" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-check"]::before {
  font-family: 'Material Icons' !important;
  content: "check" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-check-alt"]::before {
  font-family: 'Material Icons' !important;
  content: "check_circle" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-chevron-down"]::before {
  font-family: 'Material Icons' !important;
  content: "keyboard_arrow_down" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-chevron-left"]::before {
  font-family: 'Material Icons' !important;
  content: "keyboard_arrow_left" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-chevron-right"]::before {
  font-family: 'Material Icons' !important;
  content: "keyboard_arrow_right" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-chevron-up"]::before {
  font-family: 'Material Icons' !important;
  content: "keyboard_arrow_up" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-collaborative-playlist"]::before {
  font-family: 'Material Icons' !important;
  content: "queue_music" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-collection"]::before {
  font-family: 'Material Icons' !important;
  content: "library_music" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-collection-active"]::before {
  font-family: 'Material Icons' !important;
  content: "library_music" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-connect-to-devices"]::before {
  font-family: 'Material Icons' !important;
  content: "devices" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-copy"]::before {
  font-family: 'Material Icons' !important;
  content: "content_copy" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-device-car"]::before {
  font-family: 'Material Icons' !important;
  content: "directions_car" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-device-computer"]::before {
  font-family: 'Material Icons' !important;
  content: "computer" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-device-mobile"]::before {
  font-family: 'Material Icons' !important;
  content: "smartphone" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-device-multispeaker"]::before {
  font-family: 'Material Icons' !important;
  content: "speaker_group" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-device-other"]::before {
  font-family: 'Material Icons' !important;
  content: "devices_other" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-device-speaker"]::before {
  font-family: 'Material Icons' !important;
  content: "speaker" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-device-tablet"]::before {
  font-family: 'Material Icons' !important;
  content: "tablet" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-device-tv"]::before {
  font-family: 'Material Icons' !important;
  content: "tv" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-devices"]::before {
  font-family: 'Material Icons' !important;
  content: "devices" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-devices-alt"]::before {
  font-family: 'Material Icons' !important;
  content: "devices" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-discover"]::before {
  font-family: 'Material Icons' !important;
  content: "album" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-download"]::before {
  font-family: 'Material Icons' !important;
  content: "file_download" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-downloaded"]::before {
  font-family: 'Material Icons' !important;
  content: "offline_pin" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-drag-and-drop"]::before {
  font-family: 'Material Icons' !important;
  content: "drag_handle" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-edit"]::before {
  font-family: 'Material Icons' !important;
  content: "edit" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-email"]::before {
  font-family: 'Material Icons' !important;
  content: "email" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-events"]::before {
  font-family: 'Material Icons' !important;
  content: "event" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-facebook"]::before {
  font-family: 'Spotify-Material-Icons' !important;
  content: "facebook" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-facebook-messenger"]::before {
  font-family: 'Spotify-Material-Icons' !important;
  content: "facebook_messenger" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-filter"]::before {
  font-family: 'Material Icons' !important;
  content: "filter_list" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-flag"]::before {
  font-family: 'Material Icons' !important;
  content: "flag" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-follow"]::before {
  font-family: 'Material Icons' !important;
  content: "supervisor_account" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-fullscreen"]::before {
  font-family: 'Material Icons' !important;
  content: "fullscreen" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-game-console"]::before {
  font-family: 'Material Icons' !important;
  content: "videogame_asset" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-gears"]::before {
  font-family: 'Material Icons' !important;
  content: "settings" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-googleplus"]::before {
  font-family: 'Spotify-Material-Icons' !important;
  content: "google_plus" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-grid-view"]::before {
  font-family: 'Spotify-Material-Icons' !important;
  content: "view_grid" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-headphones"]::before {
  font-family: 'Material Icons' !important;
  content: "headset" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-heart"]::before {
  font-family: 'Material Icons' !important;
  content: "favorite_outline" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-heart-active"]::before {
  font-family: 'Material Icons' !important;
  content: "favorite" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-helpcircle"]::before {
  font-family: 'Material Icons' !important;
  content: "help_outline" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-highlight"]::before {
  font-family: 'Material Icons' !important;
  content: "highlight" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-home"]::before {
  font-family: 'Material Icons' !important;
  content: "home" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-home-active"]::before {
  font-family: 'Material Icons' !important;
  content: "home" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-inbox"]::before {
  font-family: 'Material Icons' !important;
  content: "inbox" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-info"]::before {
  font-family: 'Material Icons' !important;
  content: "info" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-library"]::before {
  font-family: 'Material Icons' !important;
  content: "library_music" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-lightning"]::before {
  font-family: 'Material Icons' !important;
  content: "flash_on" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-list-view"]::before {
  font-family: 'Material Icons' !important;
  content: "view_list" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-localfile"]::before {
  font-family: 'Material Icons' !important;
  content: "insert_drive_file" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-locked"]::before {
  font-family: 'Material Icons' !important;
  content: "lock_outline" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-locked-active"]::before {
  font-family: 'Material Icons' !important;
  content: "lock" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-lyrics"]::before {
  font-family: 'Material Icons' !important;
  content: "short_text" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-make-available-offline"]::before {
  font-family: 'Material Icons' !important;
  content: "file_download" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-me-alt"]::before {
  font-family: 'Material Icons' !important;
  content: "person_add" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-menu"]::before {
  font-family: 'Material Icons' !important;
  content: "menu" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-messages"]::before {
  font-family: 'Material Icons' !important;
  content: "message" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-mic"]::before {
  font-family: 'Material Icons' !important;
  content: "mic" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-minimise"]::before {
  font-family: 'Spotify-Material-Icons' !important;
  content: "window_minimize" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-mix"]::before {
  font-family: 'Material Icons' !important;
  content: "wb_sunny" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-more"]::before {
  font-family: 'Material Icons' !important;
  content: "more_vert" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-more-alt"]::before {
  font-family: 'Material Icons' !important;
  content: "more_vert" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-more-android"]::before {
  font-family: 'Material Icons' !important;
  content: "more_vert" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-new-spotify-connect"]::before {
  font-family: 'Material Icons' !important;
  content: "cast" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-new-volume"]::before {
  font-family: 'Material Icons' !important;
  content: "volume_up" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-newradio"]::before {
  font-family: 'Material Icons' !important;
  content: "radio" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-notifications"]::before {
  font-family: 'Material Icons' !important;
  content: "notifications" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-now-playing"]::before {
  font-family: 'Material Icons' !important;
  content: "equalizer" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-now-playing-active"]::before {
  font-family: 'Material Icons' !important;
  content: "equalizer" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-offline"]::before {
  font-family: 'Material Icons' !important;
  content: "cloud_off" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-offline-sync"]::before {
  font-family: 'Material Icons' !important;
  content: "sync" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-pause"]::before {
  font-family: 'Material Icons' !important;
  content: "pause" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-payment"]::before {
  font-family: 'Material Icons' !important;
  content: "payment" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-payment-history"]::before {
  font-family: 'Material Icons' !important;
  content: "history" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-play"]::before {
  font-family: 'Material Icons' !important;
  content: "play_arrow" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-playlist"]::before {
  font-family: 'Material Icons' !important;
  content: "playlist_play" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-playlist-folder"]::before {
  font-family: 'Material Icons' !important;
  content: "folder" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-plus"]::before {
  font-family: 'Material Icons' !important;
  content: "add" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-plus-2px"]::before {
  font-family: 'Material Icons' !important;
  content: "add" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-plus-alt"]::before {
  font-family: 'Material Icons' !important;
  content: "add_circle_outline" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-podcasts"]::before {
  font-family: 'Material Icons' !important;
  content: "settings_input_antenna" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-podcasts-active"]::before {
  font-family: 'Material Icons' !important;
  content: "settings_input_antenna" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-public"]::before {
  font-family: 'Material Icons' !important;
  content: "public" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-queue"]::before {
  font-family: 'Material Icons' !important;
  content: "queue_music" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-queue-number"]::before {
  font-family: 'Material Icons' !important;
  content: "queue_music" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-radio"]::before {
  font-family: 'Material Icons' !important;
  content: "radio" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-radio-active"]::before {
  font-family: 'Material Icons' !important;
  content: "radio" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-radioqueue"]::before {
  font-family: 'Spotify-Material-Icons' !important;
  content: "infinity" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-redeem"]::before {
  font-family: 'Material Icons' !important;
  content: "local_activity" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-refresh"]::before {
  font-family: 'Material Icons' !important;
  content: "refresh" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-released"]::before {
  font-family: 'Material Icons' !important;
  content: "event_available" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-released-alt"]::before {
  font-family: 'Material Icons' !important;
  content: "event_note" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-repeat"]::before {
  font-family: 'Material Icons' !important;
  content: "repeat" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-repeatonce"]::before {
  font-family: 'Material Icons' !important;
  content: "repeat_one" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-report-abuse"]::before {
  font-family: 'Material Icons' !important;
  content: "report" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-running"]::before {
  font-family: 'Material Icons' !important;
  content: "directions_run" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-search"]::before {
  font-family: 'Material Icons' !important;
  content: "search" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-search-active"]::before {
  font-family: 'Material Icons' !important;
  content: "search" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-sendto"]::before {
  font-family: 'Material Icons' !important;
  content: "inbox" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-share"]::before {
  font-family: 'Material Icons' !important;
  content: "share" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-share-android"]::before {
  font-family: 'Material Icons' !important;
  content: "share" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-sharetofollowers"]::before {
  font-family: 'Material Icons' !important;
  content: "people" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-shows"]::before {
  font-family: 'Material Icons' !important;
  content: "live_tv" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-shuffle"]::before {
  font-family: 'Material Icons' !important;
  content: "shuffle" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-skip"]::before {
  font-family: 'Material Icons' !important;
  content: "block" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-skip-active"]::before {
  font-family: 'Material Icons' !important;
  content: "block" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-skip-back"]::before {
  font-family: 'Material Icons' !important;
  content: "skip_previous" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-skip-forward"]::before {
  font-family: 'Material Icons' !important;
  content: "skip_next" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-skipback15"]::before {
  font-family: 'Spotify-Material-Icons' !important;
  content: "back_15" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-skipforward15"]::before {
  font-family: 'Spotify-Material-Icons' !important;
  content: "forward_15" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-sleeptimer"]::before {
  font-family: 'Spotify-Material-Icons' !important;
  content: "sleep" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-sms"]::before {
  font-family: 'Material Icons' !important;
  content: "textsms" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-sort"]::before {
  font-family: 'Material Icons' !important;
  content: "sort" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-sort-down"]::before {
  font-family: 'Material Icons' !important;
  content: "keyboard_arrow_downsort" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-sort-up"]::before {
  font-family: 'Material Icons' !important;
  content: "keyboard_arrow_upsort" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-sortdown"]::before {
  font-family: 'Material Icons' !important;
  content: "keyboard_arrow_downsort" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-sortup"]::before {
  font-family: 'Material Icons' !important;
  content: "keyboard_arrow_upsort" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-spotify-connect"]::before {
  font-family: 'Material Icons' !important;
  content: "cast" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-spotify-connect-alt"]::before {
  font-family: 'Material Icons' !important;
  content: "cast" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-spotify-onewave"]::before {
  font-family: 'Material Icons' !important;
  content: "volume_mute" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-spotify-twowave"]::before {
  font-family: 'Material Icons' !important;
  content: "volume_down" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-spotify"]::before {
  font-family: 'Spotify-Material-Icons' !important;
  content: "spotify" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-spotifypremium"]::before {
  font-family: 'Material Icons' !important;
  content: "card_membership" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-star"]::before {
  font-family: 'Material Icons' !important;
  content: "star" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-star-alt"]::before {
  font-family: 'Material Icons' !important;
  content: "star" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-subtitles"]::before {
  font-family: 'Material Icons' !important;
  content: "subtitles" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-tag"]::before {
  font-family: 'Material Icons' !important;
  content: "local_offer" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-thumbs-down"]::before {
  font-family: 'Material Icons' !important;
  content: "thumb_down" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-thumbs-up"]::before {
  font-family: 'Material Icons' !important;
  content: "thumb_up" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-time"]::before {
  font-family: 'Material Icons' !important;
  content: "access_time" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-topcountry"]::before {
  font-family: 'Material Icons' !important;
  content: "flag" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-track"]::before {
  font-family: 'Material Icons' !important;
  content: "audiotrack" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-trending"]::before {
  font-family: 'Material Icons' !important;
  content: "trending_up" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-trending-active"]::before {
  font-family: 'Material Icons' !important;
  content: "trending_up" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-tumblr"]::before {
  font-family: 'Spotify-Material-Icons' !important;
  content: "tumblr" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-twitter"]::before {
  font-family: 'Spotify-Material-Icons' !important;
  content: "twitter" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-user"]::before {
  font-family: 'Material Icons' !important;
  content: "person_outline" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-user-active"]::before {
  font-family: 'Material Icons' !important;
  content: "person" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-user-alt"]::before {
  font-family: 'Material Icons' !important;
  content: "person_outline" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-user-active-alt"]::before {
  font-family: 'Material Icons' !important;
  content: "person" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-user-circle"]::before {
  font-family: 'Material Icons' !important;
  content: "account_circle" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-video"]::before {
  font-family: 'Material Icons' !important;
  content: "personal_video" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-volume"]::before {
  font-family: 'Material Icons' !important;
  content: "volume_up" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-volume-off"]::before {
  font-family: 'Material Icons' !important;
  content: "volume_off" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-volume-onewave"]::before {
  font-family: 'Material Icons' !important;
  content: "volume_mute" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-volume-twowave"]::before {
  font-family: 'Material Icons' !important;
  content: "volume_down" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-warning"]::before {
  font-family: 'Material Icons' !important;
  content: "warning" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-watch"]::before {
  font-family: 'Material Icons' !important;
  content: "watch" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-whatsapp"]::before {
  font-family: 'Spotify-Material-Icons' !important;
  content: "whatsapp" !important;
  font-feature-settings: 'liga'; }

[class*="spoticon-x"]::before {
  font-family: 'Material Icons' !important;
  content: "close" !important;
  font-feature-settings: 'liga'; }

/**
 * The css property used for elevation. In most cases this should not be changed. It is exposed
 * as a variable for abstraction / easy use when needing to reference the property directly, for
 * example in a `will-change` rule.
 */
/**
 * The default duration value for elevation transitions.
 */
/**
 * The default easing value for elevation transitions.
 */
/**
 * Applies the correct CSS rules to an element to give it the elevation specified by $z-value.
 * The $z-value must be between 0 and 24.
 * If $color has an alpha channel, it will be ignored and overridden. To increase the opacity of the shadow, use
 * $opacity-boost.
 */
/**
 * Returns a string that can be used as the value for a `transition` property for elevation.
 * Calling this function directly is useful in situations where a component needs to transition
 * more than one property.
 *
 * ```scss
 * .foo {
 *   transition: mdc-elevation-transition-value(), opacity 100ms ease;
 *   will-change: $mdc-elevation-property, opacity;
 * }
 * ```
 */
html {
  font-family: Roboto, sans-serif !important; }

.card {
  background-color: white !important;
  border-radius: 4px !important;
  overflow: hidden !important;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); }

.card-image, .card-placeholder-wrapper, .card-image-content-wrapper {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  overflow: hidden !important; }

.card-info-title {
  color: rgba(0, 0, 0, 0.87) !important; }

.card-info-subtitle-links, .card-info-subtitle-metadata, .card-info-subtitle-description {
  color: rgba(0, 0, 0, 0.54) !important; }
